
<header class="header">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  <div class="login">
  <% if current_user %>
    <%= link_to 'Log Out', session_path, method: :delete, class: "button" %>
  <% end %>
  <% if !current_user %>
    <%= link_to "Sign Up", new_user_path, class: "button" %> 
    <%= link_to "Login", new_session_path, class: "button" %>
  <% end %>
  </div>
  <div>
    <h1>GAMEDAY</h1>
      <p>All Talk All Sports</p>
  </div>
</header>
<h1>Enter Comment</h1>
<%= form_for(@comment) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <div>
      <%= form.text_area :body, class:'comment-area' %>
  </div>

<p>
  <%= form.submit "Submit", class:"button" %>
</p>

<% end %>
<%= link_to "Back", post_path(@post), class:"button" %>